@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--- Variables css ----*/
:root {
  --color-red: #D93F3F;
  --color-white: white;
}

/*--- RESET ----*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("/img/poke-bg.jpg");
  background-color: white;
  backdrop-filter: blur(2px);
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 90%;
}

a {
  font-family: inherit;
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
}