.pokemon__detail-content {
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.poke__header {
  position: relative;
  width: 1108px;
  height: 185px;
  left: 166px;
  top: 324px;
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  border-radius: 4px 4px 0px 0px;
}

.poke__img {
  position: relative;
  max-width: 341px;
  max-height: 314px;
  margin: 0 auto;

}

.primary__data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.poke__name {
  font-size: 2.5rem;
  text-transform: capitalize;
}

.poke__id {
  font-size: 2rem;
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  width: fit-content;
  padding: 5px 10px;

}

.poke__meter-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 15px;
  ;
}

.poke__meter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.meter-tag {
  font-size: 0.8rem;
  padding: 5px;
}

.meter-value {
  font-size: 1.2rem;
  font-weight: 600;
}


.secondary__data {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.type-value {
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  width: fit-content;
  padding: 10px 15px;
}

.skill-value {
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  width: fit-content;
  padding: 10px 15px;
}


.type__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type-tag {
  padding: 15px;
}

.type-values {
  display: flex;
  gap: 25px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stats__data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 0 20%;
}

.stats__data:first-child {
  align-items: flex-start;
}

.stat__bar-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.stat__bar-content progress {
  width: 400px;
  height: 30px;
}

.base-stat {
  display: flex;
  align-content: space-around;
  align-items: flex-end;
  flex-direction: column;

  font-weight: 600;
}

.stat__bar-content:first-child {
  text-transform: uppercase;
}


.poke__moves-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 25px 15%;
}

progress {
  -webkit-appearance: none;
}

.poke__moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px
}

.poke__move {
  padding: 7px;
  border-radius: 16px;
  width: auto;
  border: solid 1px rgb(159, 155, 155);
  background-color: rgb(224, 215, 215);
}

/*--- Background Color Simple---*/

.bgs-grass {
  background-color: #416460;
  color: white;
}

.bgs-fire {
  background-color: #E75C35;
  color: white;
}

.bgs-water {
  background-color: #1479FB;
  color: white;
}

.bgs-normal {
  background-color: #735259;
  color: white;
}

.bgs-fighting {
  background-color: #96402A;
  color: white;
}

.bgs-flying {
  background-color: #A98FF3;
  color: white;
}

.bgs-bug {
  background-color: #4AB648;
  color: white;
}

.bgs-poison {
  background-color: #5B3184;
  color: white;
}

.bgs-ghost {
  background-color: #323569;
  color: white;
}

.bgs-rock {
  background-color: #7E7E7E;
  color: white;
}

.bgs-dark {
  background-color: #030706;
  color: white;
}

.bgs-ice {
  background-color: #6FBEDF;
  color: white;
}

.bgs-steel {
  background-color: #5E736C;
  color: white;
}

.bgs-dragon {
  background-color: #478A93;
  color: white;
}

.bgs-fairy {
  background-color: #971B45;
  color: white;
}

.bgs-electric {
  background-color: #A2881D;
  color: white;
}

.bgs-ground {
  background-color: #654008;
  color: white;
}

.bgs-psychic {
  background-color: #E52D2D;
  color: white;
}