.pokemon__detail-content {
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.poke__header {
  position: relative;
  width: 1108px;
  height: 185px;
  left: 166px;
  top: 324px;
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  border-radius: 4px 4px 0px 0px;
}

.poke__img {
  position: relative;
  width: 341px;
  height: 314px;
  margin: 0 auto;

}

.poke__name {
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.poke__id {
  text-align: center;
  font-size: 2rem;
}

.poke__moves {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px
}

.poke__move {
  padding: 7px;
  border-radius: 16px;
  width: auto;
  border: solid 1px rgb(159, 155, 155);
  background-color: rgb(224, 215, 215);
}